/*Author Name: Laundry
URL: https://www.domainname.com
Developed By: Octteen Technology
URL: https://octteen.com
version: 1.0.0*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Roboto&display=swap');
/* google fonts */

*{
	margin: 0;
	padding: 0;
}

/* top-header css */
.header-top{
	border-bottom: 1px solid #cfdde8;
}

.top-header p {
	font-family: 'Roboto', sans-serif;
	color: #8f8f8f;
	font-size: 15px;
}
.top-header a {
	font-family: 'Roboto', sans-serif;
	color: #8f8f8f;
	font-size: 15px;
}
.top-header a:hover {
	color: #68B3EA;
}
.top-header .tel-call{
	color: #323232;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.social-info li a{
	color: #323232;
	font-size: 14px;
}

/* navbar css*/
.main-nav{
	height: 50px;
}
.main-nav .navbar-brand{
	color: #4facf0;
	font-size: 24px !important;
	font-family: 'Poppins', sans-serif;
}
.main-nav .navbar-nav li a{
	color: #2f353e;
	font-family: 'Lato', sans-serif;
}
.customer-access li{
	font-family: 'Lato', sans-serif;
}
.user a{
	color: #2f353e;
}
.booking a{
	background-color: #ffffff;
  color: #1fb6ff;
  border: 1px solid #1fb6ff;
}
.booking a:active{
	background-color: #1fb6ff;
  color: #ffffff;
}
.booking .btn:hover{
	box-shadow: 0 1px 4px 4px rgb(197 197 197 / 50%) !important;
	background-color: #e8f7ff;
	color: #1fb6ff;
  border: 1px solid #1fb6ff;
}
/* mobile header css */
.mobile-nav .navbar-brand{
	color: #4facf0;
	font-size: 24px !important;
	font-family: 'Poppins', sans-serif;
}
.mobile-header {
	box-shadow: 0 .1rem 2rem rgba(153, 114, 114, 0.1) !important;
}
/* header & navbar css end */

/* hero section css */
/* .jumbotron {
	padding: 4rem 6.5rem;
	margin-bottom: 2rem;
	border-radius: .3rem;  
}
.jumbotron h1{
	font-size: 42px;
	font-family: 'Lato', sans-serif;
}
.jumbotron h2{
	color: #8c939c;
	font-family: 'Lato', sans-serif;
	background-color: #ffffff;
}
.collection span{
	color: #8c939c;
	font-family: 'Lato', sans-serif;
} */
/* .collection-info{
	background-color: #ffffff;
	box-shadow: 5px 5px 5px rgba(153, 114, 114, 0.5);
	width: 0;
  height: 0;
	border-top: 100% solid red;
	border-right: 100px solid transparent;
} */
/* .collection-info {
	box-shadow: 5px 5px 5px rgba(153, 114, 114, 0.5);
	max-height: 667px;
	-webkit-clip-path: none;
	clip-path: none;
	width: 100%;
} */







@media (min-width: 1200px){
	.header-container {
			max-width: 1240px!important;
	}
}
/* @media screen and (min-width: 1240px){
	.collection-info {
    -webkit-clip-path: polygon(0 0, 71% 0, 55% 100%, 0% 100%);
    clip-path: polygon(0 0, 71% 0, 55% 100%, 0% 100%);
	}
} */