/*Author Name: Laundry
URL: https://www.domainname.com
Developed By: Octteen Technology
URL: https://octteen.com
version: 1.0.0*/



@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Roboto&display=swap');
/* google fonts */

*{
	margin: 0;
	padding: 0;
}

/* top-header css */
.header-top{
	border-bottom: 1px solid #cfdde8;
}

.top-header p {
	font-family: 'Roboto', sans-serif;
	color: #8f8f8f;
	font-size: 15px;
}
.top-header a {
	font-family: 'Roboto', sans-serif;
	color: #8f8f8f;
	font-size: 15px;
}
.top-header a:hover {
	color: #68B3EA;
}
.top-header .tel-call{
	color: #323232;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.social-info li a{
	color: #323232;
	font-size: 14px;
}

/* navbar css*/
.main-nav .navbar-brand{
	color: #4facf0;
	font-size: 24px !important;
	font-family: 'Poppins', sans-serif;
}
.main-nav .navbar-nav li a{
	color: #2f353e;
	font-family: 'Lato', sans-serif;
}
.customer-access li{
	font-family: 'Lato', sans-serif;
}
.user a{
	color: #2f353e;
}
.booking a{
	background-color: #ffffff;
  color: #1fb6ff;
  border: 1px solid #1fb6ff;
}
.booking a:active{
	background-color: #1fb6ff;
  color: #ffffff;
}
.booking .btn:hover{
	box-shadow: 0 1px 4px 4px rgb(197 197 197 / 50%) !important;
	background-color: #e8f7ff;
	color: #1fb6ff;
  border: 1px solid #1fb6ff;
}
/* mobile header css */
.mobile-nav .navbar-brand{
	color: #4facf0;
	font-size: 24px !important;
	font-family: 'Poppins', sans-serif;
}
.mobile-header {
	box-shadow: 0 .1rem 2rem rgba(153, 114, 114, 0.1) !important;
}
/* header & navbar css end */

/* hero section css */
.hero_collection{
	background: url('../asset/hero/hero-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 270px;
}
.hero_custom_col {
	-webkit-clip-path: polygon(0 0, 71% 0, 55% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.jumbotron {
	padding-top: 60.5px;
	padding-right: 70px;
	padding-left: 55px;
	padding-bottom: 60.5px;
	margin-bottom: 2rem;
	border-radius: .3rem;
}

.jumbotron h1{
	color: #2f353e;
	font-size: 46px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.jumbotron h2{
	font-size: 23px;
	color: #8c939c;
	font-family: 'Lato', sans-serif;
}
.hero_collection .hero_row{
	-webkit-filter: drop-shadow(5px -10px 10px rgba(0,0,0,0.5));
	filter: drop-shadow(2px 8px 10px rgba(0,0,0,0.4));
}
.collection-available{
	color: #8c939c;
	font-family: 'Lato', sans-serif;
}
.dotted{
	margin-top: -9.5px;
	letter-spacing: 1.5px;
}
.collection_btn:hover{
	color: #68B3EA !important;
	background-color: #e8f5ff !important;
	box-shadow: 0 1px 4px 4px rgb(197 197 197 / 50%) !important;
}
.collection_all_btn:hover{
	background-color: #68B3EA !important;
	box-shadow: 0 1px 4px 4px rgb(197 197 197 / 50%) !important;
}
.jumbotron_mobile h1 {
	font-size: 26px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	line-height: 1.27;
	margin-bottom: 16px;
	min-height: 4em;
}
.collection_mobile{
	color: #8c939c;
	font-family: 'Lato', sans-serif;
}
.collection_mobile i.fa-truck-moving{
	font-size: 45px;
	color: #68B3EA;
}
.dotted_mobile span {
	display: inline-block;
	-webkit-transform: rotateZ( 90deg );
	transform: rotateZ( 90deg );
	letter-spacing: 4px;
}
/* hero css end */
.process-services-section{
	width: 100%;
	background-image: url('../asset/images/bg-wrapper-1.png');
	background-repeat: no-repeat;
	background-size: inherit;
	background-position: right 0;
	-webkit-animation: animatedBgRight 15s ease-in-out infinite;
	animation: animatedBgRight 15s ease-in-out infinite;
}
@keyframes animatedBgRight {
  50%{
		background-position: right 70px;
	}
	100%{
		background-position: right 0px;
	}
}
.process_col_one .process-heading-text h6.process-subheading{
	color: #68B3EA;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}
.process_col_one h2.process-heading{
	color: #323232;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
}
.process-content p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.process_btn:hover{
	background-color: #68B3EA !important;
	box-shadow: 0 1px 4px 4px rgb(197 197 197 / 50%) !important;
}
.process_col_two .process-img img{
	position: relative;
	top: 10px;
	left: 30px;
}
.process_col_two .card{
	border: none;
	background-color: none;
}
.process_col_two .slide-img{
	position: absolute;
	left: -10px;
	top: 63px;
	z-index: 2;
}
.process_col_two .card-body{
	position: relative;
	right: 64px;
	background-color: #fff;
	width: 435px;
	height: 435px;
	border: 13px solid #f1f4f1;
	border-radius: 50%;
	-webkit-box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
	box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
	padding: 46px 0 0 0;
}
.process_col_two h1.customize_title {
	font-family: 'Poppins',sans-serif;
	font-size: 160px;
	font-weight: 600;
	color: #f1f4f1;
  position: absolute;
  top: 8px;
	left: 113px;
	z-index: 1;
	letter-spacing: -.02em;
}
.process_col_two .card-body .card-text{
	color: #323232;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
	position: relative;
	top: 95px;
	z-index: 2;
	padding-left: 100px;
}
.process_col_two .card-body .short_heading .customize_text{
	color: #68B3EA;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 28px;

}
.process_col_two .card-body .short_text{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.process_col_two .carousel-item{
	transition: none;
	animation: fadeIn ease 17s;
  -webkit-animation: fadeIn ease 17s;
	animation: fadeOut ease 14s;
  -webkit-animation: fadeOut ease 14s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
.carousel-numbers{
	top: 450px;
}
.carousel-numbers li{
	cursor: pointer !important;
	text-indent: 0 !important;
	margin: 0 2px !important;
	width: 55px !important;
	height: 55px !important;
	border: 4px solid #68B3EA !important;
	border-radius: 100% !important;
	color: #68B3EA !important;
	transition: all 0.25s ease !important;
}
.carousel-numbers li:hover{
	margin: 0 2px !important;
	width: 55px !important;
	height: 55px !important;
}
.carousel-numbers li:active{
	margin: 0 2px !important;
	width: 55px !important;
	height: 55px !important;
}
/* process section end */

/* media query */
@media (min-width: 1200px){
	.header-container {
		max-width: 1240px!important;
	}
}
@media (max-width: 767.98px){
	.process-services-section{
		background-image: none;
	}
	.process_col_one .process-heading-text h6.process-subheading{
		font-size: 14px;
	}
	.process_col_one h2.process-heading{
		font-size: 24px;
	}
	.slider-step{
		padding: 33px 0 0;
    /* text-align: center; */
	}
	.process_col_two .card-body{
		position: relative;
		right: -4px;
		background-color: #fff;
		width: 310px;
		height: 310px;
		border: 13px solid #f1f4f1;
		border-radius: 50%;
		-webkit-box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
		box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
		padding: 46px 0 0 0;
	}
	.process_col_two h1.customize_title {
    font-family: 'Poppins',sans-serif;
    font-size: 125px;
    font-weight: 600;
    color: #f1f4f1;
    position: absolute;
    top: 8px;
    left: 60px;
    z-index: 1;
    letter-spacing: -.02em;
  }
	.slide-img img{
		width: 130px;
		height: auto;
	}
	.process_col_two .slide-img{
		position: absolute;
		left: -15px;
		top: 145px;
		z-index: 2;
	}
	.process_col_two .card-body .card-text{
		color: #323232;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 26px;
		position: relative;
		top: 30px;
		z-index: 2;
		padding-left: 100px;
	}
	.process_col_two .card-body .short_heading .customize_text{
		color: #68B3EA;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
	
	}
	.process_col_two .card-body .short_text{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 16px;
	}
	.carousel-numbers{
		top: 365px;
	}
	.carousel-numbers li{
		cursor: pointer !important;
		text-indent: 0 !important;
		font-size: 20px !important;
		margin: 0 2px !important;
		width: 60px !important;
		height: 32px !important;
		border: 4px solid #68B3EA !important;
		border-radius: 100% !important;
		color: #68B3EA !important;
		transition: all 0.25s ease !important;
	}
	.carousel-numbers li:hover{
		margin: 0 2px !important;
		width: 60px !important;
		height: 32px !important;
	}
	.carousel-numbers li:active{
		margin: 0 2px !important;
		width: 60px !important;
		height: 32px !important;
	}
}
